body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.5em;
}

h1 {
    font-size: 150%;
}

#container {
    padding: 1em;
    max-width: 800px;
    margin: 0 auto;
}

#demo {
    position: relative;
}

#left-btn, #right-btn, #action-btn {
    position: absolute;
    bottom: 1em;
    width: 50px;
    height: 50px;
    font-weight: bold;
    border-radius: 20%;
    color: #FFF;
    background-color: rgba(255,0,128,.85);
    border-bottom: 5px solid #FF0099;
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

#left-btn {
    left: 10px;
}

    #left-btn:after {
        content: "<";
        left: 20px;
        top: 15px;
        position: absolute;
    }

#right-btn {
    left: 65px;
}

    #right-btn:after {
        content: ">";
        left: 20px;
        top: 15px;
        position: absolute;
    }

#action-btn {
    right: 10px;
    border-radius: 50%;
}

    #action-btn:after {
        content: "A";
        left: 20px;
        top: 15px;
        position: absolute;
    }
