body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.5em;
}

#container {
    padding: 1em;
    max-width: 800px;
    margin: 0 auto;
}

#demo {
    position: relative;
}

#debug {
    color: red;
}

#left-btn, #right-btn, #jump-btn {
    position: absolute;
    bottom: 1em;
    padding: 1em 1.5em;
    font-weight: bold;
    border-radius: 20%;
    color: #FFF;
    background-color: rgba(255,0,128,.85);
    border-bottom: 5px solid #FF0099;
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

#left-btn {
    left: 10px;
}

#right-btn {
    left: 75px;
}

#jump-btn {
    right: 10px;
    border-radius: 50%;
}
